.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin-top: 2%;

}

body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  margin: 30px;
  display: inline-block;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.but{
  display: block;
  margin: auto;
  width: 20%;
  
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 08%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

/* @media screen and (min-width: 1100px){
  button{
    margin-left: 15%;
  }
} */